<%- include("partials/header.ejs") %>

<div class="container">
<br>

<div>
    <h3>What is Blog Web App?</h3>
    <h6> Blog Web App by Dev J is a platform where users can create, publish, and share blog posts on various topics.
        It’s designed for
        writers, creators, and readers to connect and explore engaging content.</h6>
</div>

<br>

<div>
    <h3>How do I create a blog?</h3>
    <h5> Simply go to the "Create Blog" section, write your content using our easy editor, and click
        "Publish" to share your post with the world.</h5>
</div>

<br>

<div>
    <h3>Is it free to use?</h3>
    <h5> Yes, Blog Web App By Dev J is free to use! You can create, customize, and publish blogs at no cost. We also
        offer premium features
        for advanced customization and monetization.</h5>
</div>

<br>

<div>
    <h3>How can I attract more readers to my blog?</h3>
    <h5> You can increase visibility by using our built-in SEO tools, sharing your posts on social media, and
        interacting with
        the community through comments and feedback.</h5>
</div>

<br>

<div>
    <h3>Is my content safe and secure?</h3>
    <h5> Yes, we take security seriously. Your content is stored safely, and we offer privacy settings to control who
        can view
        your posts.</h5>
</div>

<br>

<div>
    <h3>How can I contact support if I need help?</h3>
    <h5>You can reach our support team through the "Contact Us" page or by sending an email to
        [<a href="support@blogwebappbydevj">support@blogwebappbydevj.com</a>]. We're
        here to help!</h5>
</div>

<br><br>
</div>

<%- include("partials/footer.ejs") %>