<%- include("partials/header.ejs") %>

<div class="container">
<br>

<div>
    <h2 class="text-center text-black font-fa"> Engage with a Community </h2>
    <h5 class="text-center">Join a growing network of writers and readers. Find your tribe, share insights, and engage
        in
        meaningful discussions.</h5>
</div>

<br><br>

<div>
    <h2 class="text-center text-black"> Key Features</h2>
    <h5 class="text-center">Enjoy a simple, user-friendly editor, customizable themes, built-in SEO tools, and community
        engagement features.</h5>
</div>

<br><br>

<div>
    <h2 class="text-center text-black">Explore Popular Blogs</h2>
    <h5 class="text-center"> Showcase trending or recent blog posts to draw attention to the content already on the
        platform.</h5>
</div>

<br><br>
</div>



<%- include("partials/footer.ejs") %>