<%- include("partials/header.ejs") %>

<div class="container">
<br>

<div class="container">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h2 class="text-body-emphasis">Engage with a Community</h2>
        <h5 class="lead">
            Join a growing network of writers and readers. Find your tribe, share insights, and engage
            in meaningful discussions.
        </h5>
    </div>
</div>

<br>

<div class="container">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h2 class="text-body-emphasis">Key Features</h2>
        <h5 class="lead">
            Enjoy a simple, user-friendly editor, customizable themes, built-in SEO tools, and community
            engagement features.
        </h5>
    </div>
</div>

<br>

<div class="container">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h2 class="text-body-emphasis">Explore Popular Blogs</h2>
        <h5 class="lead">
        Showcase trending or recent blog posts to draw attention to the content already on the
        platform.
        </h5>
    </div>
</div>

<br>
</div>

<%- include("partials/footer.ejs") %>